.bold {
  font-weight: bold;
}

// *** margins and paddings START ***
$one: 5px!important;
$two: 10px!important;
$three: 15px!important;
$four: 20px!important;
$five: 25px!important;

// TOP
.pt-1 {
  padding-top: $one;
}
.mt-1 {
  margin-top: $one;
}
.pt-2 {
  padding-top: $two;
}
.mt-2 {
  margin-top: $two;
}
.pt-3 {
  padding-top: $three;
}
.mt-3 {
  margin-top: $three;
}
.pt-4 {
  padding-top: $four;
}
.mt-4 {
  margin-top: $four;
}
.pt-5 {
  padding-top: $five;
}
.mt-5 {
  margin-top: $five;
}

// BOTTOM
.pb-1 {
  padding-bottom: $one;
}
.mb-1 {
  margin-bottom: $one;
}
.pb-2 {
  padding-bottom: $two;
}
.mb-2 {
  margin-bottom: $two;
}
.pb-3 {
  padding-bottom: $three;
}
.mb-3 {
  margin-bottom: $three;
}
.pb-4 {
  padding-bottom: $four;
}
.mb-4 {
  margin-bottom: $four;
}
.pb-5 {
  padding-bottom: $five;
}
.mb-5 {
  margin-bottom: $five;
}

// LEFT
.pl-1 {
  padding-left: $one;
}
.ml-1 {
  margin-left: $one;
}
.pl-2 {
  padding-left: $two;
}
.ml-2 {
  margin-left: $two;
}
.pl-3 {
  padding-left: $three;
}
.ml-3 {
  margin-left: $three;
}
.pl-4 {
  padding-left: $four;
}
.ml-4 {
  margin-left: $four;
}
.pl-5 {
  padding-left: $five;
}
.ml-5 {
  margin-left: $five;
}

// RIGHT
.pr-1 {
  padding-right: $one;
}
.mr-1 {
  margin-right: $one;
}
.pr-2 {
  padding-right: $two;
}
.mr-2 {
  margin-right: $two;
}
.pr-3 {
  padding-right: $three;
}
.mr-3 {
  margin-right: $three;
}
.pr-4 {
  padding-right: $four;
}
.mr-4 {
  margin-right: $four;
}
.pr-5 {
  padding-right: $five;
}
.mr-5 {
  margin-right: $five;
}

// X
.px-1 {
  padding-left: $one;
  padding-right: $one;
}
.mx-1 {
  margin-left: $one;
  margin-right: $one;
}
.px-2 {
  padding-left: $two;
  padding-right: $two;
}
.mx-2 {
  margin-left: $two;
  margin-right: $two;
}
.px-3 {
  padding-left: $three;
  padding-right: $three;
}
.mx-3 {
  margin-left: $three;
  margin-right: $three;
}
.px-4 {
  padding-left: $four;
  padding-right: $four;
}
.mx-4 {
  margin-left: $four;
  margin-right: $four;
}
.px-5 {
  padding-left: $five;
  padding-right: $five;
}
.mx-5 {
  margin-left: $five;
  margin-right: $five;
}

// Y
.py-1 {
  padding-top: $one;
  padding-bottom: $one;
}
.my-1 {
  margin-top: $one;
  margin-bottom: $one;
}
.py-2 {
  padding-top: $two;
  padding-bottom: $two;
}
.my-2 {
  margin-top: $two;
  margin-bottom: $two;
}
.py-3 {
  padding-top: $three;
  padding-bottom: $three;
}
.my-3 {
  margin-top: $three;
  margin-bottom: $three;
}
.py-4 {
  padding-top: $four;
  padding-bottom: $four;
}
.my-4 {
  margin-top: $four;
  margin-bottom: $four;
}
.py-5 {
  padding-top: $five;
  padding-bottom: $five;
}
.my-5 {
  margin-top: $five;
  margin-bottom: $five;
}

// *** margins and paddings END ***
